body {
  font-family: monospace;
  font-size: 1.5em;
}

.navbar {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.1em;
  font-family: monospace;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1%;
}

#logout {
    font-family: monospace;
}

#date {
  color:gray;
  font-size: .75em;
}

#postsection {
  padding: 1%;
  border: 2px;
  border-color: rgb(226, 225, 225);
  border-style: solid;
  margin: 1%;
  padding-left: 0%;
}

#dashpost {
  padding: 1%;
  border: 2px;
  border-color: rgb(226, 225, 225);
  border-style: solid;
  margin: 1%;
  padding-left: 0%;
}

#deletebutton, #createbutton {
  margin-top: 1%;
}