body {
  font-family: monospace;
  font-size: 1em;
}

.navbar {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.1em;
  font-family: monospace;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: .5%;
  vertical-align: middle;
  color: darkblue;
}

#logout {
    font-family: monospace;
    font-size: 1em;
    color: black;
}

#date, #createdby {
  color:gray;
  font-size: .75em;
}

#postsection, #dashpost {
  padding: 1%;
  border: 2px;
  border-color: rgb(226, 225, 225);
  border-style: solid;
  margin: 2%;
}


#deletebutton, #createbutton, #loginbutton, #signupbutton {
  margin-top: 1%;
  font-size: 12px;
}

#dashbody, #loginbody, #signupbody {
  margin-top: 3%;
}

h2, a {
  margin: auto;
}

